.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 0.6em;
  padding: 1rem;
  overflow: hidden;
  /* background: #fea11e; */
  background: #1f1f1f;
}
